@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Newsreader:wght@200&display=swap');

:root {
    --background-color: hsl(0, 0%, 98%);
    --primary-color: hsl(50, 50%, 70%);
    --bg-color: hsl(0, 0%, 100%);
    --text-color: black;
    --font-primary: 'Montserrat';

    /* set right sizing for boxes */
	box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-primary);
}