@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Newsreader:wght@200&display=swap');

:root {
    --background-color: hsl(0, 0%, 98%);
    --primary-color: hsl(50, 50%, 70%);
    --font-primary: 'Montserrat';
}