@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Newsreader:wght@200&display=swap");

:root {
  --background-color: hsl(0, 0%, 98%);
  --primary-color: hsl(50, 50%, 70%);
  --bg-color: hsl(0, 0%, 100%);
  --font-primary: "Montserrat";

  /* set right sizing for boxes */
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
}

.section-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-content-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  align-items: left;
}

.button {
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 0.3rem;
  background: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  box-shadow: 4px 4px 8px #d4d4d4, -4px -4px 8px #e7e7e7;
}

.button:hover {
  transform: scale(1.03);
  box-shadow: 6px 6px 12px #d4d4d4, -6px -6px 12px #e7e7e7;
}

.picture {
  border-radius: 0.5rem;
  box-shadow: 6px 6px 12px #d4d4d4, -6px -6px 12px #e7e7e7;
  transition: all ease-in-out 0.25s;
  width: 100%;
}

.picture:hover {
  box-shadow: 8px 8px 16px #d4d4d4, -8px -8px 16px #e7e7e7;
  transform: scale(1.025);
}
